{{#if type.score}}
	<a href="#">Deck: {{found}}/{{deckSize}}</a>
{{/if}}

{{#if type.remaining}}
	<a href="#">{{remaining}} cards remaining</a>
{{/if}}

{{#if type.percent}}
	<a href="#">Sets Found: {{percent}}%</a>
{{/if}}

{{#if type.time}}
	<a href="#">
		{{#if inProgress}}
			{{#animate}}
				Time: {{format-duration milliseconds showMilliseconds=showMilli}}
			{{/animate}}
		{{else}}
			Time: {{format-duration milliseconds showMilliseconds=showMilli}}
		{{/if}}
	</a>
{{/if}}
